[Desktop Entry]
Name=Update Station
Comment=Update system and software
Exec=update-station
Icon=/usr/local/lib/update-station/system-software-update.png
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
