[Desktop Entry]
Name=Update Station
Name[da]=Opdateringsstation
Comment=Update system and software
Comment[da]=Opdater system og software
Exec=update-station
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
