[Desktop Entry]
Name=Update Station
Name[da]=Opdateringsstation
Name[ru]=Центр обновлений
Comment=Update manager for system and software
Comment[da]=Opdateringshåndtering til system og software
Comment[ru]=Менеджер обновлений системы и приложений
Exec=sudo update-station check-now
Icon=system-software-update.png
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
